* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#header {
    padding: 20px 0;
    background: #FFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.header-nav a {
    color: rgba(31, 46, 53, 0.80);
font-size: 18px;
font-weight: 400;
}
.header-nav select {
    color: rgba(31, 46, 53, 0.80);
font-size: 18px;
font-weight: 400;
border: none;
outline: none;
}
.header-icon {
    display: flex;
    justify-content: space-between;
    width: 80px;
}
#hero {
    padding: 80px 0;
}
.hero {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.hero-text h1 {
    width: 545px;
    color: #1F2E35;
font-size: 48px;
font-weight: 700;
line-height: 133.687%; 
}
.hero-text h1 span {
    color: #EE4248;
font-size: 48px;
font-weight: 700;
}
.hero-text p {
    margin: 24px 0;
    width: 520px;
    color: #30444E;
font-size: 20px;
font-weight: 400;
line-height: 144.687%; 
}
.hero-text button {
    border: none;
    padding: 12px 32px;
    border-radius: 4px;
background: #EE4248;
box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
font-size: 20px;
font-weight: 400;
}
#center {
    width: 1440px;
height: 500px;
flex-shrink: 0;
background: #F6F6F6;
}
.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paragraf h1 {
  margin: 57px 258px;
    width: 454px;
    color: #1F2E35;
font-size: 32px;
font-weight: 500;
line-height: 133.687%;
}
.paragraf h1 span {
    color: #EE4248;
font-size: 32px;
font-weight: 500;
line-height: 133.687%;
}
.paragraf p {
    margin:24px 192px 63px ;
}
.paragraf p span {
    color: #EE4248;
font-size: 18px;
font-weight: 500;
line-height: 150%;
}
.h1 {
    display: flex;
    justify-content: center;
    color: #1F2E35;
text-align: center;
font-size: 32px;
font-weight: 500;
line-height: 133.687%; 
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.a1 {
    padding: 24px 20px 0 24px;
}
.a1 h1 {
    margin: 15px 0;
    color: #EE4248;
    font-size: 28pX;
    font-weight: 500;
    line-height: 133.687%;
}
.a1 p {
    margin: 15px 0;
    width: 319px;
    color: #30444E;
font-size: 18px;
font-weight: 400;
line-height: 150%;
}
.a1 button {
color: #FFF;
font-size: 18px;
font-    weight: 400;
line-height: 144.687%;
display: flex;
padding: 8px 16px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: #EE4248;
box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25); 
border: none;
}
.a1 {
    padding: 24px 20px 0 24px;
}
.a2 {
    margin: 17px 0;
}
.a2 h1 {
    margin: 15px 0;
    color: #EE4248;
font-size: 28px;
font-weight: 500;
line-height: 133.687%; 
}
.a2 p {
    margin: 15px 0;
    width: 329px;
    color: #30444E;
font-size: 18px;
font-weight: 400;
line-height: 150%; 
}
.a2 button {
    color: #FFF;
    font-size: 18px;
    font-    weight: 400;
    line-height: 144.687%;
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #EE4248;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25); 
    border: none;    

}
.a3  h1 {
    color: #EE4248;
    font-size: 28px;
    font-weight: 500;
    line-height: 133.687%; 
}
.a3 p {
margin: 16px 0;
width: 329px;
color: #30444E;
font-size: 18px;
font-weight: 400;
line-height: 150%; 
}
.a3 button {
    color: #FFF;
font-size: 18px;
font-    weight: 400;
line-height: 144.687%;
display: flex;
padding: 8px 16px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: #EE4248;
box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25); 
border: none;
}

.block {
display: flex; 
align-items: center;
justify-content: space-between;
width: 700px;
height: 188px;
flex-shrink: 0;
background: #FFF;
}
.week h2 {
    color: #263238;
}
.week p{
    margin: 8px 0 11px;
    color: #263238;
font-size: 18px;
font-weight: 300;
line-height: 149.187%; 
}
.month h2 {
    color: #263238;
}
.month p {
    color: #263238;
font-size: 18px;
font-weight: 300;
line-height: 149.187%; 
}






.footer {
    margin: 13px;
    padding: 22px 0 21px;
    display: flex;
width: 1440px;
height: 64px;
padding: 22px 0px 21px 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #EE4248;
}
.footer p {
color: #FFF;
font-size: 18px;
font-weight: 500;
}